NODE_ENV=development

POSTGRES_USER=ump_user
POSTGRES_PASSWORD=ump_pass_2024
POSTGRES_DB=ump_db
POSTGRES_HOST=postgres
POSTGRES_PORT=5432

MYSQL_ROOT_PASSWORD=root_pass_2024
MYSQL_USER=ump_user
MYSQL_PASSWORD=ump_pass_2024
MYSQL_DB=ump_db
MYSQL_HOST=mysql
MYSQL_PORT=3306

MSSQL_SA_PASSWORD=Ump_Pass@2024
MSSQL_DB=ump_db
MSSQL_HOST=mssql
MSSQL_PORT=143

MONGO_USER=ump_user
MONGO_PASSWORD=ump_pass_2024
MONGO_DB=ump_db
MONGO_HOST=mongodb
MONGO_PORT=27017

REDIS_PASSWORD=redis_pass_2024
REDIS_HOST=redis
REDIS_PORT=6379

AUTH_PROVIDER=wso2
ALLOWED_ORIGINS=https://localhost:9443,https://localhost:8243,http://localhost:8280,http://localhost:8082

APIM_IMAGE=wso2/wso2am:4.4.0
APIM_PUBLISHER_PORT=9443
APIM_GATEWAY_HTTPS_PORT=8243
APIM_GATEWAY_HTTP_PORT=8280
APIM_PUBLISHER_URL=https://localhost:9443/publisher
APIM_DEVPORTAL_URL=https://localhost:9443/devportal
APIM_GATEWAY_URL=https://localhost:8243

WSO2_ISSUER=https://wso2-apim:9443/oauth2/token
WSO2_JWKS_URI=https://wso2-apim:9443/oauth2/jwks
WSO2_AUDIENCE=ump-client
WSO2_USERNAME_CLAIM=preferred_username
WSO2_EMAIL_CLAIM=email
WSO2_FIRST_NAME_CLAIM=given_name
WSO2_LAST_NAME_CLAIM=family_name
WSO2_AUTO_PROVISION_USERS=true
WSO2_DEFAULT_ROLE_ID=550e8400-e29b-41d4-a716-446655440003
WSO2_DEFAULT_DEPARTMENT_ID=660e8400-e29b-41d4-a716-446655440005
WSO2_DEFAULT_DESIGNATION_ID=770e8400-e29b-41d4-a716-446655440006

NEXT_PUBLIC_APP_FOOTER_TEXT=User Management Platform
NEXT_PUBLIC_APP_FOOTER_VERSION=1.0.0
NEXT_PUBLIC_APP_FOOTER_RIGHT_TEXT=Configurable from env
