NODE_ENV=development
PORT=6002
SERVICE_NAME=master-service
LOG_LEVEL=debug
LOG_DIR=./logs
HOST=0.0.0.0

DEFAULT_DB_TYPE=postgres

POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_DB=ump_master
POSTGRES_USER=ump_user
POSTGRES_PASSWORD=ump_pass_2024
POSTGRES_SSL=false

MYSQL_HOST=mysql
MYSQL_PORT=3306
MYSQL_DB=ump_master
MYSQL_USER=ump_user
MYSQL_PASSWORD=ump_pass_2024

MSSQL_HOST=mssql
MSSQL_PORT=1433
MSSQL_DB=ump_master
MSSQL_USER=sa
MSSQL_PASSWORD=Ump_Pass@2024

MONGO_HOST=mongodb
MONGO_PORT=27017
MONGO_DB=ump_master
MONGO_USER=ump_user
MONGO_PASSWORD=ump_pass_2024

REDIS_URL=redis://:redis_pass_2024@redis:6379
REDIS_PASSWORD=redis_pass_2024
REDIS_HOST=redis
REDIS_PORT=6379

JWT_ACCESS_SECRET=your_super_secure_access_secret_min_32_chars_change_in_prod

AUTH_SERVICE_URL=http://auth-service:6001
ALLOWED_ORIGINS=http://localhost:6000,http://localhost:6002
